wheel
matplotlib
jupyter
torch
pandas
numpy
scipy
seaborn
sklearn
msgpack
kaggle
ipython
pandas_summary
fastai
pdpbox
scikit-misc
treeinterpreter
pyarrow
requests
mxnet
bokeh
dask
ELI5
hyperopt
lime
patsy
spacy
TPOT
watermark
yellowbrick
deap
update_checker
tqdm
stopit
scikit-mdr
skrebate
dask[delayed]
dask-ml
numpy
scipy
scikit-learn
pandas
deap
update_checker
tqdm
stopit
horovod

